# Auto-normalize line endings and enforce LF for source files
* text=auto

# Ensure these file types use LF in the repository and working tree
*.json text eol=lf
*.css text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
package-lock.json text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp4 binary
*.webm binary
